.App {
  text-align: center;
}

.main {
  height: 290px;
  width: 214px;
  background-color: #a5c2ca;
  margin: 25px auto;
  box-sizing: border-box;
}

.button {
  width: 45px;
  height: 23px;
  background-color: cornsilk;
  border-radius: 4px;
  margin-top: 8px;
  margin-top: -5px;
  margin-bottom: 7px;
  border-style: hidden;
}
.bksp{
  width: 164px;
  height: 30px;
  margin: 10px;
}
input[type="text"] {
  text-align: end;
}
.list {
  padding-left: 17px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}
button {
  height: 30px;
  width: 30px;
}
